* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

p {
  font-size: 18px;
  padding: 60px 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  border: 1px solid;
  background-color: #d1cbc9;
}

.sectionHead {
  position: relative;
  float: right;
  padding: 6px;
  width: 30%;
  text-align: center;
}

.orangeHead {
  background-color: #e15b2e;
}

.yellowHead {
  background-color: #f4d82a;
}

.purpleHead {
  background-color: #d135fa;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.3%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-lg-6 {
    float: left;
    width: 50%;
  }
  .col-lg-12 {
    float: left;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-lg-12 {
    float: left;
    width: 100%;
  }
}
